{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="company-nav">
                        <a href="{{ path('app_main_home_sponsors') }}" class="company-nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                            Назад
                        </a>
                        <a href="#company" class="company-nav-link">О компании</a>
                        {% if( materialShow ) %}<a href="#matherials" class="company-nav-link">Материалы</a>{% endif %}
                        {% if(videoShow) %}<a href="#video" class="company-nav-link">Видео</a>{% endif %}
                    </div>
                    <div class="company-info">
                        <span id="company" class="company-label">О компании</span>
                        <img src="{{ asset('uploads/company/'~ company.id ~ '/logo/' ~ company.logo) }}">
                        <p>{{ company.content }}</p>
                    </div>
                    {% if( materialShow ) %}
                        <div class="company-content">
                            <span id="matherials" class="company-label">Материалы</span>
                            <div class="row">
                                {% for row in materials %}
                                    {% if(row.isShow) %}
                                        <div class="col-md-6">
                                            <a target="_blank"
                                               href="{{ asset('uploads/company/'~ company.id ~ '/materials/' ~ row.file) }}">
                                                <img id="material_{{ row.id }}"
                                                     src="{{ asset('uploads/company/'~ company.id ~ '/materials/' ~ row.thumbnail) }}">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if(videoShow) %}
                        <div id="video" class="company-video">
                            <span class="company-label">Видео</span>
                            {% for row in video %}
                                {% if(row.isShow) %}
                                <div class="company-video-item">
                                    <video width="700" height="400" controls>
                                        <source src="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}"
                                                type="video/mp4">
                                        <!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
                                        <source src="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}"
                                                type="video/webm"><!-- WebM/VP8 для Firefox4, Opera, и Chrome -->
                                        <source src="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}"
                                                type="video/ogg">
                                        <!-- Ogg/Vorbis для старых версий браузеров Firefox и Opera -->
                                        <object data="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}"
                                                type="application/x-shockwave-flash">
                                            <!-- добавляем видеоконтент для устаревших браузеров, в которых нет поддержки элемента video -->
                                            <param name="movie"
                                                   value="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}">
                                        </object>
                                    </video>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if(hrefShow) %}
                        <a href="{{ company.href }}" class="btn btn-fill company-link">Перейти к виртуальному
                            стенду</a>
                    {% endif %}
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="companyVideo" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/N0QblwXyXvo?controls=0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('click', function (event) {
            let nameId = event.target.getAttribute('id');
            if (!!nameId) {
                let name = nameId.split('_', 1).pop();
                let id = nameId.split('_', 2).pop();
                if (!!id && ('material' == name || 'video' == name)) {
                    let data = {};
                    data[name] = id;
                    setAjax(data);
                }
            }
        });

        function setAjax(data) {
            $.ajax({
                url: '{{ (path('app_user_statistics_ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    data: data // Данные которые отправляем на сервер
                },
                async: true,
                success: function (data) {
                    console.log(data)
                }
            });
            return false;
        };
    </script>
{% endblock %}

