{% extends 'main/base_without_menu.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <body class="registracia">
    <div class="container">
        <div class="row registration">
            <div class="col-lg-7 col-12 registration-order">
                <div class="row registration-banner d-none d-lg-block">
                    <div class="col-md-12">
                        <img src="{{ asset('assets/img/banner.png') }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="registration-buttons">
                            {# <a href="{{ path('app_main_home_programms17') }}" #}
                            {# class="btn btn-fill">Программа</a> #}
                            <a href="{{ asset('uploads/programm/ZL-Programma.pdf') }}" target="_blank"
                               class="btn btn-fill btn-down">Программа</a>
                            {# <a href="{{ path('theses_create') }}" type="button" class="btn btn-fill">Отправить #}
                            {# постер</a> #}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 regback">
                <div class="row">
                    <div class="col-md-12">
                        {# <div class="lang"> #}
                        {# <a class="btn btn-light" href="javascript:void(0);">RU</a> #}
                        {# <a class="btn btn-secondary" href="javascript:void(0);">EN</a> #}
                        {# </div> #}
                        <br>
                        <img class="registration-logo" src="/uploads/backrgounds/logo-small.png">
                        <!--h1 class="d-lg-none">XVIII Российская конференция с международным участием «Злокачественные лимфомы» <br class="d-md-none">14-15 октября 2021 г. </h1><-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form"><br>
                        <h3 class="reg-title">Регистрация</h3>
                        {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {
                                label: 'e-mail',
                                row_attr: {
                                    class: 'input-group'
                                }
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.surname, {label: 'Фамилия'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.name, {label: 'Имя'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.patronymic, {label: 'Отчество'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.specialization, {label: 'Специализация'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.job, {label: 'Место работы'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.position, {label: 'Должность'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.phone, {label: 'Телефон'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.country, {label: 'Страна'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.city, {label: 'Город'}) }}
                        </div>
                        <div class="row registration-checkbox">
                            {{ form_row(registrationForm.agreeTerms) }}
                            <div>Согласен на
                                <button type="button" data-bs-toggle="modal"
                                        data-bs-target="#politicModal">
                                    обработку
                                    персональных данных
                                </button>
                            </div>
                        </div>
                        <div class="registration-btn">
                            {{ form_row(registrationForm.registryButton) }}
                            {# <a class="reg-link" href="/login">Войти на платформу</a> #}
                        </div>
                        {{ form_end(registrationForm) }}
                        <button type="button" class="btn btn-link registration-help reg-link" data-bs-toggle="modal"
                                data-bs-target="#callbackModal">Помощь
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="politicModal" tabindex="-1" aria-labelledby="politicModalLabel" aria-hidden="true">
            <div class="modal-dialog registration-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="politicModalLabel">Обработка персональных данных</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Я, как пользователь онлайн-платформы, добровольно предоставляю свои персональные данные, и
                            подтверждаю свое согласие на обработку оператором (ООО «ТС Онколоджи», ИНН 7704302970/КПП
                            771001001, 125047 Москва, ул. 1-я Тверская-Ямская, дом.23 стр.1 пом.3) предоставленных мною
                            персональных данных, включая сбор, хранение, накопление, систематизацию, уточнение
                            (обновление, изменение), использование, обезличивание, блокирование, удаление и
                            уничтожение.</p>
                        <p>Я уведомлен, что имею право отозвать свое согласие в случае возникновения такой
                            необходимости.</p>
                        <p>Оператор осуществляет обработку следующего перечня моих персональных данных:</p>
                        <ul>
                            <li>фамилия</li>
                            <li>имя</li>
                            <li>электронная почта</li>
                            <li>номер мобильного телефона</li>
                            <li>фотография</li>
                        </ul>
                        <p>которые собираются в следующих целях:</p>
                        <ul>
                            <li>сбора информации обо всех пользователях онлайн-платформы для проведения активностей</li>
                            <li>возможности коммуникации между пользователями онлайн-платформы</li>
                            <li>информирования всех пользователей онлайн-платформы о различных активностях и
                                мероприятиях.
                            </li>
                        </ul>
                        <p>Я уведомлен о том, что, сообщая оператору любую информацию, в том числе мои персональные
                            данные, я несу ответственность за достоверность предоставляемой информации.</p>
                        <p>Я уведомлен, что оператор осуществляет обработку персональных данных в строгом соответствии с
                            принципами и правилами, установленными Федеральным законом от 27.07.2006 № 152-ФЗ «О
                            персональных данных», включая соблюдение конфиденциальности (в том числе ст.7 названного
                            Закона о не раскрытии третьим лицам и не распространении персональных данных) и обеспечения
                            безопасности персональных данных при их обработке, включая требования к защите,
                            установленные ст. 19 названного Закона.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-fill" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        {% for message in app.flashes('successRegistration') %}
            {% set message = {message} %}
            {% include 'main/registration/successRegistrationModal.html.twig' with message %}
        {% endfor %}
        {% for message in app.flashes('successHelpSend') %}
            {% set message = {message} %}
            {% include 'main/registration/successHelpModal.html.twig' with message %}
        {% endfor %}
    </div>
    <script>
        document.getElementById('registration_form_plainPassword').value = "1234567";
        document.getElementById('registration_form_plainPassword').hidden = true;
    </script>
    {% set submit_url = path('app_register') %}
    {% include 'main/registration/form_help.html.twig' with {url: submit_url} %}
    </body>
{% endblock %}
