{% extends 'main/base_without_menu.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row registration">
            <div class="col-md-7 registration-order">
                <div class="row registration-banner d-none d-lg-block">
                    <div class="col-md-12">
                        <img src="/assets/img/banner.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="registration-buttons">
                            <a href="{{ path('app_main_home_programms') }}"
                               class="btn btn-outline-secondary">Программа</a>
                            <a href="{{ path('theses_create') }}" type="button" class="btn btn-outline-secondary">Отправить
                                постер</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="lang">
                            <a class="btn btn-light" href="javascript:void(0);">RU</a>
                            <a class="btn btn-secondary" href="javascript:void(0);">EN</a>
                        </div>
                        <img class="registration-logo" src="/assets/img/logo.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form">
                        <h4>Регистрация</h4>
                        {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {
                                label: 'e-mail',
                                row_attr: {
                                    class: 'input-group'
                                }
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.surname, {label: 'Фамилия'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.name, {label: 'Имя'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.patronymic, {label: 'Отчество'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.specialization, {label: 'Специализация'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.job, {label: 'Место работы'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.position, {label: 'Должность'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.phone, {label: 'Телефон'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.country, {label: 'Страна'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.city, {label: 'Город'}) }}
                        </div>
                        <div class="row registration-checkbox">
                            {{ form_row(registrationForm.agreeTerms) }}
                            <div>Согласен на
                                <button type="button" data-bs-toggle="modal"
                                        data-bs-target="#politicModal">
                                    обработку
                                    персональных данных
                                </button>
                            </div>
                        </div>
                        <div class="registration-btn">
                            <button type="submit" class="btn btn-outline-secondary">Зарегистрироваться</button>
                            <a href="/login">Войти на платформу</a>
                        </div>
                        {{ form_end(registrationForm) }}
                        <button class="btn btn-link registration-help" type="button" data-bs-toggle="modal"
                                data-bs-target="#callbackModal">Помощь
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="politicModal" tabindex="-1" aria-labelledby="politicModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="politicModalLabel">Обработка персональных данных</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Текст
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="callbackModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Форма обратной связи</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body form">
                        <form>
                            <input type="email" placeholder="Введите свой e-mail" required>
                            <textarea required placeholder="Введите свой вопрос"></textarea>
                            <button type="button" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('registration_form_plainPassword').value = "1234567";
        document.getElementById('registration_form_plainPassword').hidden = true;
    </script>
{% endblock %}
