{% extends 'main/base_without_menu.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row registration">
            <div class="col-lg-7 col-12 registration-order">
                <div class="row registration-banner d-none d-lg-block">
                    <div class="col-md-12">
                        <img src="{{ asset('assets/img/banner.png') }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="registration-buttons">
                            {# <a href="{{ path('app_main_home_programms17') }}" #}
                            {# class="btn btn-fill">Программа</a> #}
                            <a href="{{ asset('uploads/programm/limforum.pdf') }}" target="_blank"
                               class="btn btn-fill btn-down">Программа</a>
{#                            <a href="{{ path('theses_create') }}" type="button" class="btn btn-fill">Отправить#}
{#                                постер</a>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="row">
                    <div class="col-md-12">
                        {# <div class="lang"> #}
                        {# <a class="btn btn-light" href="javascript:void(0);">RU</a> #}
                        {# <a class="btn btn-secondary" href="javascript:void(0);">EN</a> #}
                        {# </div> #}
                        <img class="registration-logo" src="/assets/img/logo.png">
                        <h1 class="d-lg-none">Интерактивный форум экспертов по вопросам диагностики и лечения
                            лимфопролиферативных заболеваний «Лимфорум», 17-18 сентября 2021 г. </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form">
                        <h4>Регистрация</h4>
                        {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {
                                label: 'e-mail',
                                row_attr: {
                                    class: 'input-group'
                                }
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.surname, {label: 'Фамилия'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.name, {label: 'Имя'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.patronymic, {label: 'Отчество'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.specialization, {label: 'Специализация'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.job, {label: 'Место работы'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.position, {label: 'Должность'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.phone, {label: 'Телефон'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.country, {label: 'Страна'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.city, {label: 'Город'}) }}
                        </div>
                        <div class="row registration-checkbox">
                            {{ form_row(registrationForm.agreeTerms) }}
                            <div>Согласен на
                                <button type="button" data-bs-toggle="modal"
                                        data-bs-target="#politicModal">
                                    обработку
                                    персональных данных
                                </button>
                            </div>
                        </div>
                        <div class="registration-btn">
                            <button type="submit" class="btn btn-outline-secondary">Зарегистрироваться</button>
{#                            <a href="/login">Войти на платформу</a>#}
                        </div>
                        {{ form_end(registrationForm) }}
                        <button class="btn btn-link registration-help" type="button" data-bs-toggle="modal"
                                data-bs-target="#callbackModal">Помощь
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="politicModal" tabindex="-1" aria-labelledby="politicModalLabel" aria-hidden="true">
            <div class="modal-dialog registration-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="politicModalLabel">Обработка персональных данных</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Я, как пользователь онлайн-платформы, добровольно предоставляю свои персональные данные, и подтверждаю свое согласие на обработку оператором (ООО «ТС Онколоджи», ИНН 7704302970/КПП 771001001, 125047 Москва, ул. 1-я Тверская-Ямская, дом.23 стр.1 пом.3) предоставленных мною персональных данных, включая сбор, хранение, накопление, систематизацию, уточнение (обновление, изменение), использование, обезличивание, блокирование, удаление и уничтожение.</p>
                        <p>Я уведомлен, что имею право отозвать свое согласие в случае возникновения такой необходимости.</p>
                        <p>Оператор осуществляет обработку следующего перечня моих персональных данных:</p>
                        <ul>
                            <li>фамилия</li>
                            <li>имя</li>
                            <li>электронная почта</li>
                            <li>номер мобильного телефона</li>
                            <li>фотография</li>
                        </ul>
                        <p>которые собираются в следующих целях:</p>
                        <ul>
                            <li>сбора информации обо всех пользователях онлайн-платформы для проведения активностей</li>
                            <li>возможности коммуникации между пользователями онлайн-платформы</li>
                            <li>информирования всех пользователей онлайн-платформы о различных активностях и мероприятиях.</li>
                        </ul>
                        <p>Я уведомлен о том, что, сообщая оператору любую информацию, в том числе мои персональные данные, я несу ответственность за достоверность предоставляемой информации.</p>
                        <p>Я уведомлен, что оператор осуществляет обработку персональных данных в строгом соответствии с принципами и правилами, установленными Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных», включая соблюдение конфиденциальности (в том числе ст.7 названного Закона о не раскрытии третьим лицам и не распространении персональных данных) и обеспечения безопасности персональных данных при их обработке, включая требования к защите, установленные ст. 19 названного Закона.</p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="callbackModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Форма обратной связи</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body form">
                        <form>
                            <input type="email" placeholder="Введите свой e-mail" required>
                            <textarea required placeholder="Введите свой вопрос"></textarea>
                            <button type="button" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('registration_form_plainPassword').value = "1234567";
        document.getElementById('registration_form_plainPassword').hidden = true;
    </script>
{% endblock %}
