{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="broadcast">
                        <div class="broadcast-live">
                            <div id="player"></div>
                            <script>
                                let player = new Playerjs({
                                    id: "player",
                                    file: "{{ broadcast }}",
                                    autoplay: 1
                                });
                            </script>
                            <button type="button" id="fullscreen-btn" class="fullscreen-btn"></button>
                        </div>
                        {% if app.request.requesturi != '/broadcast/2' %}
                            {% set questions = questions %}
                            {% include 'main/question_speaker/index.html.twig' with {questions: questions} %}
                        {% endif %}
                    </div>
                </div>
                <div id="messages" class="col-lg-3 col-12">
                    <div class="chatroom">
                        {% set chatid = chatid %}
                        {% include 'main/chatroom/index.html.twig' with {chatid: chatid} %}
                        <div  class="chatroom-bottom">
                            <textarea id="form-message" placeholder="Сообщение"></textarea>
                            <input onclick="sendMessageAjax({{ chatid }})" type="button" id="form-submit"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="fade modal modalControl" id="modalControl" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Вы смотрите трансляцию?</h5>
                    <button type="button" id="visitControl" class="btn btn-fill">Подтвердите присутствие</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getModalControl() {
            let myModal = new bootstrap.Modal(document.getElementById('modalControl'));
            let time = [
                '9:44',
                '10:36',
                '11:51',
                '12:33',
                '13:12',
                '15:42',
                '16:29',
                '17:15'
            ];
            let date;
            let now = new Date();
            for (let i = 0; i < time.length; i++) {
                date = new Date("2021/09/17 " + time[i]);
                let timeDiff = Math.abs(now.getTime() - date.getTime());
                let diffMinutes = Math.round(timeDiff / (1000 * 60));
                if (0 == diffMinutes) {
                    myModal.show();
                    setTimeout(function () {
                        myModal.hide();
                    }, 60000)
                }
            }
        }

        getModalControl();
        setInterval(function () {
            getModalControl();
        }, 60000);

        $('#visitControl').click(function (event) {
            $.ajax({
                url: '{{ (path('app_visit_control_ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {},
                async: true,
                success: function (data) {
                    $('#modalControl').modal('hide');
                }
            });
        });

        setInterval(function () {
            $.ajax({
                url: '{{ (path('app_question_ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "chatRoomId": {{ chatid }} // Данные которые отправляем на сервер
                },
                async: true,
                success: function (data) {
                    let output = data.output;
                    let idArray = Object.keys(output);
                    let divArray = document.getElementsByClassName('broadcast-questions-item');
                    for (let j = 0; j < divArray.length; j++) {
                        divArray[j].remove();
                    }
                    for (let i = 0; i < idArray.length; i++) {
                        let id = "broadcast-question-id-" + idArray[i];
                        if (!document.getElementById(id)) {
                            let divBroadcast = document.createElement("div");
                            divBroadcast.className = "broadcast-questions-item";
                            divBroadcast.setAttribute("id", id);
                            let span = document.createElement("span");
                            span.innerHTML = output[idArray[i]]['fio'];
                            let divQuestion = document.createElement("div");
                            divQuestion.innerHTML = output[idArray[i]]['content'];
                            divBroadcast.prepend(divQuestion);
                            divBroadcast.prepend(span);
                            let broadQuestTitle = document.getElementById('broadcast-questions-title-id');
                            broadQuestTitle.after(divBroadcast);
                        }
                    }
                }
            });
        }, 5000);

        $('#fullscreen-btn').click(function () {
            $(this).toggleClass('active');
            $('.main-block').toggleClass('fullscreen');
        });

        function sendMessageAjax(id) {
            let content = $("#form-message").val();
            $.ajax({
                url: '{{ (path('app_message_send_ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "chatId": id, // Данные которые отправляем на сервер messageId
                    "content": content, // Данные которые отправляем на сервер messageId
                },
                async: true,
                success: function (data) {
                    $("#form-message").val('');
                }
            });
            return false;
        };
    </script>
    {% set submit_url = path('app_broadcast', {'chatid': chatid}) %}
    {% include 'main/question_speaker/form.html.twig' with {url: submit_url} %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        setInterval(function () {
            $.ajax({
                method: 'POST',
                url: '{{ path('app_messages', {'chatid':chatid}) }}'
            }).done(function (data) {
                console.log(data);
                $('#messages').html(data);
            });
        }, 5000);
    </script>
{% endblock %}
