{% extends 'admin/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <span><a type="button" class="btn btn-success" href="{{ path('app_admin_company_video_create') }}">Добавить Видео</a></span>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Video</th>
                <th scope="col">Отображен</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 0 %}
            {% for row in video %}
                <tr>
                    {% set count = count + 1 %}
                    <td>{{ row.id }}</td>
                    <td width="100px">
                        <video controls width="200" height="100">
                            <source src="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}" type="video/mp4"><!-- MP4 для Safari, IE9, iPhone, iPad, Android, и Windows Phone 7 -->
                            <source src="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}" type="video/webm"><!-- WebM/VP8 для Firefox4, Opera, и Chrome -->
                            <source src="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}" type="video/ogg"><!-- Ogg/Vorbis для старых версий браузеров Firefox и Opera -->
                            <object data="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}" type="application/x-shockwave-flash"><!-- добавляем видеоконтент для устаревших браузеров, в которых нет поддержки элемента video -->
                                <param name="movie" value="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}">
                            </object>
                        </video>
                    </td>
                    <td>{% if row.isShow %}
                        <a type="button" class="btn btn-success"
                           href="{{ path('app_admin_company_video_hide', {'id': row.id}) }}">Скрыть</a></td>
                {% else %}
                    <a type="button" class="btn btn-warning"
                       href="{{ path('app_admin_company_video_show', {'id': row.id}) }}">Отобразить</a></td>
                    {% endif %}
                    </td>
                    <td><a type="button" class="btn btn-danger"
                           href="{{ path('app_admin_company_video_delete', {'id': row.id}) }}">X</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
