{% extends 'admin/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Video</th>
                <th scope="col">Отображен</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 0 %}
            {% for row in video %}
                <tr>
                    {% set count = count + 1 %}
                    <td>{{ row.id }}</td>
                    <td width="100px">
                        <video src="{{ asset('uploads/company/' ~ row.company.id ~'/video/' ~ row.video) }}"></video>
                    </td>
                    <td>{% if row.isShow %}
                        <a type="button" class="btn btn-success"
                           href="{{ path('app_admin_company_video_hide', {'id': row.id}) }}">Скрыть</a></td>
                {% else %}
                    <a type="button" class="btn btn-warning"
                       href="{{ path('app_admin_company_video_show', {'id': row.id}) }}">Отобразить</a></td>
                    {% endif %}
                    </td>
                    <td><a type="button" class="btn btn-danger"
                           href="{{ path('app_admin_company_video_delete', {'id': row.id}) }}">X</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
