{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="poster-category">
                        <a class="btn btn-secondary {% if app.request.attributes.get('_route_params').categoryId == 0 %}active{% endif %}"
                           href="{{ path('app_poster') }}">Все постеры</a>
                        {% for category in categories %}
                            <a class="btn btn-secondary {% if app.request.attributes.get('_route_params').categoryId == category.id %}active{% endif %}"
                               href="{{ path('app_poster', {'categoryId': category.id}) }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="poster-list accordion" id="accordionPoster">
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Список постеров в текстовом формате
                            </button>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <ul class="accordion-body">
                                    {% for row in posters %}
                                        <li>{{ row.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="poster-voting">
                        <a class="btn-fill btn" href="javascript:void(0);" target="_blank">
                            Инструкция по постерному голосованию
                        </a>
                        <button type="button" class="btn btn-fill poster-voting-btn" data-bs-toggle="modal"
                                data-bs-target="#posterSelected">
                            <span>Отобранные постеры</span>
                            <span>Проголосовать за отобранные постеры</span>
                        </button>
                    </div>

                    <div class="poster-images row">
                        {% for row in posters %}
                            <div class="col-md-4" id="poster_{{ row.id }}">
                                <a class="poster-images-img"
                                   data-img="/uploads/poster/pdf/thumbnail/{{ row.thumbnail }}"
                                   data-pdf="/uploads/poster/pdf/{{ row.file }}" data-title="{{ row.title }}"
                                   href="javascript:void(0);">
                                    <img src="/uploads/poster/pdf/thumbnail/{{ row.thumbnail }}">
                                </a>
                                <a class="poster-images-title" href="javascript:void(0);"
                                   data-img="/uploads/poster/pdf/thumbnail/{{ row.thumbnail }}"
                                   data-pdf="/uploads/poster/pdf/{{ row.file }}"
                                   data-title="{{ row.title }}" class="btn btn-link">{{ row.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade posterSelected" id="posterSelected" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Выбранные вами постеры:</h5>
                    <p>Вы можете удалить постеры из списка отобранных, если передумали.</p>
                    <p>После нажатия кнопки "Проголосовать" вы отдадите свой голос и более не сможете изменить свое
                        решение.</p>
                    <button type="button" id="posterSelectedClose" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div id="selectedPosterModal" class="modal-body">
                    {# <div class="posterSelected-item"> #}
                    {# <button type="button" class="x-close" aria-label="Close"></button> #}
                    {# <div class="posterSelected-item-img"> #}
                    {# <img src="/assets/img/broadcast/fon.jpg"> #}
                    {# </div> #}
                    {# <p>Постер 1</p> #}
                    {# <a href="javascript:void(0);" target="_blank">Смотреть</a> #}
                    {# </div> #}
                    {# <div class="posterSelected-item"> #}
                    {# <button type="button" class="x-close" aria-label="Close"></button> #}
                    {# <div class="posterSelected-item-img"> #}
                    {# <img src="/assets/img/broadcast/fon.jpg"> #}
                    {# </div> #}
                    {# <p>Постер 2</p> #}
                    {# <a href="javascript:void(0);" target="_blank">Смотреть</a> #}
                    {# </div> #}
                    {# <div class="posterSelected-item"> #}
                    {# <button type="button" class="x-close" aria-label="Close"></button> #}
                    {# <div class="posterSelected-item-img"> #}
                    {# <img src="/assets/img/broadcast/fon.jpg"> #}
                    {# </div> #}
                    {# <p>Постер 3</p> #}
                    {# <a href="javascript:void(0);" target="_blank">Смотреть</a> #}
                    {# </div> #}
                </div>
                <div class="modal-footer">
                    <button type="button" id='voteButton' class="btn btn-fill">Проголосовать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade posterModal" id="posterModal" tabindex="-1" aria-labelledby="posterModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-top">
                        <a class="btn btn-fill poster-prev" href="javascript:void(0);">Предыдущий постер</a>
                        <a class="btn btn-fill poster-next" href="javascript:void(0);">Следующий постер</a>
                    </div>
                    <h5 class="modal-title" id="posterModalLabel">Modal title</h5>
                    <div class="posterModal-img">
                        <img src="/assets/img/broadcast/fon.jpg">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" target="_blank" class="open_pdf btn btn-fill">Открыть в формате
                        pdf</a>
                    <button type="button" class="btn btn-fill addToVoteButton">Отобрать данный постер</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let selectedPosters = [];
        {% for row in selectedPosters %}
        selectedPosters.push({{ row.id }})
        {% endfor %}

        if (0 == {{ countVotePoster }} || {{ isVote }} ) {
            $('.poster-voting-btn').hide();
        }
        if ({{ isVote }}) {
            $('.addToVoteButton').hide();
        }

        function isVote(objectId) {
            let id = objectId.split('_', 2).pop();
            for (let i = 0; i < selectedPosters.length; i++) {
                if (id == selectedPosters[i]) {
                    return true;
                }
            }
            return false;
        }

        let myModal = new bootstrap.Modal(document.getElementById('posterModal'));
        $('.poster-images a').click(function () {
            $('.posterModal .modal-title').text($(this).attr('data-title'));
            $('.posterModal .open_pdf').attr('href', $(this).attr('data-pdf'));
            $('.posterModal .posterModal-img').attr('src', $(this).attr('data-img'));
            $('.posterModal .posterModal-img img').attr('src', $(this).attr('data-img'));

            if ($(this).parent().prev().length) {
                $('.posterModal .poster-prev').removeClass('hidden');
            } else {
                $('.posterModal .poster-prev').addClass('hidden');
            }

            if ($(this).parent().next().length) {
                $('.posterModal .poster-next').removeClass('hidden');
            } else {
                $('.posterModal .poster-next').addClass('hidden');
            }
            $('.posterModal .poster-prev, .posterModal .poster-next').attr('data-id', $(this).parent().attr('id'));
            let posterId = $('.poster-prev, .posterModal .poster-next').attr('data-id');
            $('.addToVoteButton').attr('id', 'button' + posterId);
            if (isVote($(this).parent().attr('id'))) {
                $('#button' + posterId).text('Постер отобран');
                $('#button' + posterId).attr("disabled", true);
            } else {
                $('#button' + posterId).removeAttr("disabled");
                $('#button' + posterId).text('Отобрать данный постер');
            }
            myModal.show();
        });

        $('.posterModal .poster-next').click(function () {
            myModal.hide();
            let id = $(this).attr('data-id');
            setTimeout(function () {
                $('#' + id).next().find('a').eq(0).click();
            }, 500);
        });

        $('.posterModal .poster-prev').click(function () {
            myModal.hide();
            let id = $(this).attr('data-id');
            setTimeout(function () {
                $('#' + id).prev().find('a').eq(0).click();
            }, 500);
        });

        $('.addToVoteButton').click(function (event) {
            let buttonId = event.target.getAttribute('id');
            let id = buttonId.split('_', 2).pop();
            createVotePosterAjax(id);
        });

        function createVotePosterAjax(id) {
            $.ajax({
                url: '{{ (path('app_poster_ajax_create')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "posterId": id // Данные которые отправляем на сервер posterId
                },
                async: true,
                success: function (data) {
                    $('.poster-voting-btn').show();
                    $('#buttonposter_' + id).text('Постер отобран');
                    $('#buttonposter_' + id).attr("disabled", true);
                    selectedPosters.push(Number(id));
                }
            });
            return false;
        };

        $(document).on("click", '.deleteVoteButton', function (event) {
            let buttonId = event.target.getAttribute('id');
            let id = buttonId.split('_', 2).pop();
            deleteVotePosterAjax(id);
        });

        function deleteVotePosterAjax(id) {
            $.ajax({
                url: '{{ (path('app_poster_ajax_delete')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "posterId": id // Данные которые отправляем на сервер posterId
                },
                async: true,
                success: function (data) {
                    $('#posterSelected_id_' + id).remove();
                    if (data.output.length == 0) {
                        $('#posterSelected').modal('hide');
                        $('.poster-voting-btn').hide();
                    }
                    for (let i = 0; i < selectedPosters.length; i++) {
                        if (id == selectedPosters[i]) {
                            selectedPosters.splice(i, 1);
                        }

                    }
                }
            });
            return false;
        };

        $('#voteButton').click(function (event) {
            $.ajax({
                url: '{{ (path('app_poster_ajax_vote')) }}',
                type: "POST",
                dataType: "json",
                async: true,
                success: function (data) {
                    $('#voteButton').hide();
                }
            });
        });

        $('.poster-voting-btn').click(function (event) {
            $.ajax({
                url: '{{ (path('app_poster_ajax_vote_view')) }}',
                type: "POST",
                dataType: "json",
                async: true,
                success: function (data) {
                    let output = data.output;
                    for (let i = 0; i < output.length; i++) {
                        let divSelectedPoster = document.getElementById('selectedPosterModal');
                        let divPosterSelected = document.createElement("div")
                        divPosterSelected.setAttribute("id", 'posterSelected_id_' + output[i].id);
                        divPosterSelected.className = 'posterSelected-item';
                        divSelectedPoster.prepend(divPosterSelected);
                        let buttonClose = document.createElement("button");
                        buttonClose.className = "deleteVoteButton x-close";
                        buttonClose.setAttribute("id", 'closeButton_' + output[i].id);
                        buttonClose.setAttribute('arial-label', 'Close');
                        divPosterSelected.prepend(buttonClose);
                        let divImg = document.createElement("div");
                        divImg.className = "posterSelected-item-img";
                        buttonClose.after(divImg);
                        let img = document.createElement("img");
                        img.setAttribute('src', '/uploads/poster/pdf/thumbnail/' + output[i].thumbnail);
                        divImg.prepend(img);
                        let p = document.createElement("p");
                        p.innerHTML = output[i].title;
                        divImg.after(p);
                        let a = document.createElement('a');
                        a.setAttribute('href', '/uploads/poster/pdf/' + output[i].file);
                        a.setAttribute('target', '_blank');
                        a.innerHTML = 'Смотреть';
                        p.after(a);
                    }
                }
            });
        });

        $('#posterSelectedClose').click(function (event) {
            let divSelectedPoster = document.getElementById('selectedPosterModal');
            while (divSelectedPoster.firstChild) {
                divSelectedPoster.removeChild(divSelectedPoster.lastChild);
            }
        });
    </script>
{% endblock %}
