{% extends 'admin/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <span><a type="button" class="btn btn-success"
                 href="{{ path('app_admin_company_create') }}">Создать Компанию</a></span>
        <span><a type="button" class="btn btn-success" href="{{ path('app_admin_company_material_create') }}">Добавить Материал</a></span>
        <span><a type="button" class="btn btn-success" href="{{ path('app_admin_company_video_create') }}">Добавить Видео</a></span>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Logo</th>
                <th scope="col">Текст</th>
                <th scope="col">Материал</th>
                <th scope="col">Видео</th>
                <th scope="col">URL</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 0 %}
            {% for row in company %}
                <tr>
                    {% set count = count + 1 %}
                    {# <td>{{ count }}</td> #}
                    <td><a href="{{ path('app_admin_company_update', {'id': row.id}) }}">{{ row.id }}</a></td>
                    <td><a href="{{ path('app_admin_company_update', {'id': row.id}) }}">{{ row.title }}</a></td>
                    <td width="100px"><img src="{{ asset('uploads/company/' ~ row.id ~'/logo/' ~ row.logo) }}"></td>
                    <td>{{ row.content|raw }}</td>
                    <td><a type="button" class="btn btn-secondary" href="{{ path('app_admin_company_material', {'id': row.id}) }}">Материал</a></td>
                    <td><a type="button" class="btn btn-secondary" href="{{ path('app_admin_company_video', {'id': row.id}) }}">Видео</a></td>
                    <td><a href="{{ path('app_admin_company_update', {'id': row.id}) }}">{{ row.href }}</a></td>
                    <td><a type="button" class="btn btn-secondary" href="{{ path('app_admin_company_update', {'id': row.id}) }}">Редактировать</a></td>
                    <td><a type="button" class="btn btn-danger" href="{{ path('app_admin_company_delete', {'id': row.id}) }}">X</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
