{% extends 'admin/base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
        <span><a type="button" class="btn btn-success" href="{{ path('app_admin_question_speaker') }}">Основная трансляция</a></span>
        <span><a type="button" class="btn btn-success" href="{{ path('app_admin_question_speaker', {'chatid': 2}) }}">AstraZeneca</a></span>
        <span><a type="button" class="btn btn-success" href="{{ path('app_admin_question_speaker', {'chatid': 3}) }}">Нанолек</a></span>
        <span><a type="button" class="btn btn-success" href="{{ path('app_admin_question_speaker', {'chatid': 4}) }}">БМС</a></span>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Спикер</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Чат</th>
                <th scope="col">Вопрос</th>
                <th>Отобразить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 0 %}
            {% for row in questions %}
                <tr>
                    {% set count = count + 1 %}
                    <td>{{ count }}</td>
                    <td>{{ row.speaker }}</td>
                    <td>{{ row.user }}</td>
                    <td>{{ row.chat }}</td>
                    <td>{{ row.content }}</td>
                    <td><a type="button" class="btn btn-secondary" href="{{path('app_admin_question_speaker_show', {'id': row.id}) }}">Отобразить</a></td>
                    <td><a type="button" class="btn btn-danger" href="{{path('app_admin_question_speaker_delete', {'id': row.id}) }}">X</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
