{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-block-left">
                        <h5><b>Как получить образовательные кредиты НМО?</b></h5>
                        <h6>Документация по учебному мероприятию подана на рассмотрение в комиссию Координационного
                            совета по развитию непрерывного медицинского и фармацевтического образования Министерства
                            здравоохранения Российской Федерации.</h6>
                        <ul>
                            <li>Контроль присутствия: осуществляется путем нажатия на всплывающую кнопку. Пользователь
                                должен подтвердить свое присутствие не менее чем на 70% контролей
                            </li>
                            <li>Минимальный порог присутствия: 17 сентября – 270 мин, 18 сентября – 270 мин</li>
                            <li>Регистрационный взнос: отсутствует</li>
                            <li>частники конференции имеют права на получение баллов НМО только при просмотре трансляции
                                конференции на сайте lymphorum.com
                            </li>
                            <li>В случае проблем с подключением, можете писать на электронный адрес
                                info@tsoncology.com
                            </li>
                        </ul>
                    </div>
                    <div class="white_block sponlogo-main">
                        <div class="row justify-center">
                            <div class="col-12 spon-title">
                                Генеральные спонсоры
                            </div>
                            <div class="col-sm-6 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/gen2.png">
                                </a>
                            </div>
                            <div class="col-sm-6 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/gen3.png">
                                </a>
                            </div>
                            <div class="col-sm-6 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/gen4.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="white_block">
                        <div class="row justify-center">
                            <div class="col-12 spon-title">
                                Cпонсоры
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/gen1.png">
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/sp1.png">
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/sp2.png">
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/sp3.png">
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/sp4.png">
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/sp5.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
