<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}platform{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-5.0.1/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery-3.6.0.js') }}"></script>
        <script src="{{ asset('assets/framework/bootstrap-5.0.1/js/bootstrap.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('label').remove();
            });
        </script>
        <script>
            document.addEventListener('click', function (event) {
                let id = event.target.getAttribute('id');
                if (!!id && 'sponsors' == id) {
                    setAjax(id);
                }
            });
            function setAjax(id) {
                $.ajax({
                    url: '{{ (path('app_user_statistics_ajax')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "sponsors": true // Данные которые отправляем на сервер
                    },
                    async: true,
                    success: function (data) {
                        console.log(data)
                    }
                });
                return false;
            };
        </script>
        <script src="{{ asset('assets/js/playerjs.js') }}" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <!--
        <img class="bg-header" src="/assets/img/bg-header.jpg">
        -->
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-6 header-logo">
                    <img src="{{ asset('assets/img/logo.png') }}">
                </div>
                <nav class="col-lg-10 col-3 navbar-light navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <div class="nav-container">
                            <a href="{{ path('app_main_home_index') }}"
                               class="nav-link {% if app.request.attributes.get('_route') == 'app_main_home_index' %}active{% endif %}">Главная</a>
                            <a href="{{ path('app_main_home_programms18') }}"
                               class="nav-link {% if app.request.attributes.get('_route') starts with 'app_main_home_programms' %}active{% endif %}">Программа</a>
                            <a href="{{ path('app_main_home_symposium18') }}"
                               class="nav-link {% if app.request.attributes.get('_route') starts with 'app_main_home_symposium' %}active{% endif %}">Сателлитные Симпозиумы</a>
                            <a href="{{ path('app_main_home_nmo') }}"
                               class="nav-link {% if app.request.attributes.get('_route') == 'app_main_home_nmo' %}active{% endif %}">НМО</a>
{#                            <a href="{{ path('app_poster') }}"#}
{#                               class="nav-link {% if app.request.attributes.get('_route') == 'app_poster' %}active{% endif %}">#}
{#                                Постерная сессия</a>#}
                            <a href="{{ path('app_main_home_sponsors') }}" id="sponsors"
                               class="nav-link {% if app.request.attributes.get('_route') == 'app_main_home_sponsors' %}active{% endif %}">Виртуальная
                                выставка</a>
                            <a href="{{ path('app_main_home_help') }}"
                               class="nav-link link-dark {% if app.request.attributes.get('_route') == 'app_main_home_help' %}active{% endif %}">Техническая
                                поддержка</a>
                        </div>
                    </div>
                </nav>
                <div class="col-12 d-lg-none title-mob">
                    <h1 class="title">Интерактивный форум экспертов по вопросам диагностики и лечения
                        лимфопролиферативных
                        заболеваний «Лимфорум», <br class="d-md-none">17-18 сентября 2021 г. </h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
{% endblock %}

</body>
</html>
