{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="spons_main_page" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="white_block_sponsrs sponlogo-main">
                        <div class="row justify-center">
                            <div class="col-12 spon-title-logoz">
                                Генеральные спонсоры<br><br>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':13}) }}">
                                    <img src="assets/img/sponsor/logo/gen2.png"> <!--az><-->
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':20}) }}">
                                    <img src="assets/img/sponsor/logo/sp4.png"> <!--roche><-->
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':22}) }}">
                                    <img src="assets/img/sponsor/logo/gen4.png"> <!--farmamondo><-->
                                </a>
                            </div>
                        </div>
                    </div>
                                <div class="carousel-item">
                        <div class="white_block_sponsrs1 sponlogo-main1">
                        <div class="row justify-center">
                            <div class="col-12 spon-title-logoz">
                                Спонсоры
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/gen1.png"> <!--abbvie><-->
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':18}) }}">
                                    <img src="assets/img/sponsor/logo/sp1.png"> <!--amgen><-->
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':19}) }}">
                                    <img src="assets/img/sponsor/logo/sp2.png"> <!--biocad><-->
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':21}) }}">
                                    <img src="assets/img/sponsor/logo/sp3.png"> <!--janssen><-->
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':12}) }}">
                                    <img src="assets/img/sponsor/logo/gen3.png"> <!--bms><-->
                                </a>
                            </div>
                            <div class="col-sm-5 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':16}) }}">
                                    <img src="assets/img/sponsor/logo/sp6.png"> <!--sanofi><-->
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':11}) }}">
                                    <img src="assets/img/sponsor/logo/sp5.png"> <!--takeda><-->
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                            </div>
                        </div>
                        <br>
                        <div class="white_block_hello sponlogo-main">
                        <div class="row">
                            <div></div>
                            <div></div>
                            <div class="col-sm-4 sponlogo-main-item-preds">
                                <img src="/uploads/backrgounds/predsetatel.png" style="float: left;" hspace="10">
                            </div>
                            <div class="col-sm-8 sponlogo-main-item">
                            <h2><font color="#980186"><center>Дорогие коллеги!</center></font></h2>
                            <p class="dear_cols"></p>
                            <p>
                                25 и 26 февраля 2022 г.  вот уже в 32-й раз состоится интерактивный форум экспертов по вопросам
                               диагностики и лечения лимфопролиферативных заболеваний «Лимфорум».
                            </p>
                            <p>
                                Обмен опытом и диалог врачей всех специальностей (онкологов, гематологов, патоморфологов), участвующих
                               в диагностике и лечении больных злокачественными лимфомами и множественной миеломой, лежит в основе идеи
                               «Лимфорума», проводимого Российским обществом онкогематологов уже более 12 лет.
                            </p>
                        </div>
                        </div>
                        <div>
                        <p>
                            Мы особенно рады тому, что с каждым годом «Лимфорум» растет и развивается при Вашей поддержке и непосредственном участии. Благодарим всех, кто
                        прислал клинические случаи для отбора научным комитетом. 
                          В этом году выбор был особенно трудным – столько показательных, сложных, актуальных ситуаций мы получили на 
                          рассмотрение!
                        </p>
                        <p>
                            Мы будем рады встрече со слушателями как очно (формат COVID-free), так и в режиме онлайн на специально созданной
                           платформе lymphorum.ru.  Надеемся, что программа «Лимфорума» будет интересна и полезна для дальнейшего развития 
                           вашей клинической деятельности.
                        </p>
                        <h3 style="float: right;"><font color="#980186">До встречи на Лимфоруме!</font></h3><br><br>
                        <p class="preds_fio" align="right";>И. В. Поддубная,</p>
                        <p class="preds_regaly" align="right";>
                            академик РАН, профессор, проректор по лечебной работе и международному сотрудничеству,
                                заведующая кафедрой онкологии и паллиативной медицины им. акад. А.И. Савицкого 
                                ФГБОУ ДПО РМАНПО Минздрава России, председатель Российского профессионального 
                                общества онкогематологов, Москва
                        </p>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div data-bs-toggle="modal" data-bs-target="#politicModal" class="threed">
                        <img src="/uploads/news/cv-free.png">
                        <br><p></p>
                    </div>
                    <div>{% include 'main/news/index.html.twig' with news %}</div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="politicModal" tabindex="-1" aria-labelledby="politicModalLabel" aria-hidden="true">
        <div class="modal-dialog registration-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="politicModalLabel">COVID-free зона</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Вся территория мероприятия «Лимфорум» является COVID-free зоной.</p>
                    <p>Очное участие возможно только при предъявлении паспорта и QR-кода (вакцинация от COVID-19 / QR-код переболевшего или ПЦР-исследование,
                        сделанное не ранее 3-х дней до «Лимфорума»).</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
