{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12"><img src="/uploads/backrgounds/predsed-top.png">
                    <!--div class="main-block-left">
                        <p>Дорогие коллеги!</p>
                        <p>17 и 18 сентября 2021 г. в Москве в очно- заочном режиме пройдет очередной, 31-й
                            интерактивный форум экспертов по вопросам диагностики и лечения лимфопролиферативных
                            заболеваний - «Лимфорум».</p>
                        <p>Второй год мы находимся в необычайно трудных условиях – пандемия COVID-19 изменила нашу
                            жизнь, влияет на нашу работу и наших пациентов. И все же жизнь постепенно входит в рабочую
                            колею - мы учимся жить в новых условиях, находим новые пути, приобретаем новые знания!</p>
                        <p>Именно обмен опытом и профессиональный диалог врачей всех специальностей (онкологов,
                            гематологов, патоморфологов), участвующих в диагностике и лечении больных злокачественными
                            лимфомами и множественной миеломой, лежит в основе идеи «Лимфорума», проводимого Российским
                            обществом онкогематологов уже на протяжении более 10 лет. Дважды в год врачи из различных
                            регионов России и СНГ и их зарубежные коллеги собираются вместе, чтобы обсудить сложные
                            клинические случаи, поделиться опытом, выразить свое мнение и прийти к консенсусу по
                            различным практическим аспектам лечения наших больных.</p>
                        <p>В этом году «Лимфорум» будет проходить в очном режиме Москве, а для удаленных слушателей
                            он пройдет в режиме онлайн. Вся его обширная программа – представление и разбор
                            ведущими экспертами-клиницистами и патоморфологами 15 сложных клинических случаев и
                            сателлитные симпозиумы будут доступны для слушателей на портале lymphorum.com, rusoncohem.ru
                            и med4share.ru. По окончании Лимфорума и прекращения работы портала lymphorum.com запись
                            всех событий «Лимфорума» будет доступна на
                            сайтах rusoncohem.ru и med4share.ru. </p>
                        <p>Благодаря большой работе Российского Общества онкогематологов, активной поддержке
                            специалистов -энтузиастов своего дела и, конечно, вас, участников нашей сегодняшней
                            аудитории, с каждым годом «Лимфорумы» растет и развивается. Мы надеемся, что программа 31-го
                            «Лимфорума» не разочарует и будет полезна для дальнейшего развития вашей клинической
                            деятельности и ваших больных!</p>
                        <p>До встречи на Лимфоруме!</p>
                        <p>Академик РАН <br>И. В. Поддубная</p>
                    </div><-->
                    <div class="white_block_hello sponlogo-main">
                        <div class="row">
                            <div class="col-sm-4 sponlogo-main-item">
                                <img src="/uploads/backrgounds/predsetatel2.png" style="float: left;" hspace="10">
                            </div>
                            <!--div class="col-sm-4">
                            <img src="/uploads/backrgounds/predsetatel.png" style="float: left;" hspace="10">
                            </div>  <-->
                            <div class="col-sm-8" sponlogo-main-item">
                            <br>
                            <h2><font color="#3a557f"><center>Дорогие коллеги!</center></font></h2>
                            <br><br>
                        <p>Вот и наступило время нашей очередной, уже XVIII, конференции с международным
                            участием «Злокачественные лимфомы»! В прошлом году мы вынуждены были в связи
                            с пандемией проводить нашу конференцию в режиме онлайн. В это году мы надеемся,
                            что нам удастся собраться как обычно в Москве, но наши иностранные лекторы,
                            к сожалению, опять будут общаться с нами онлайн. В этом году со-председателем
                            нашей конференции стал новый Президент ЕНА – проф. Elizabeth Macintyre, вместе
                            с ней к нашей конференции присоединятся Michael Hudecek (Германия), Richard Rosenquist
                            Brandell (Швеция), Gilles Salles (Франция-США), Joaquin Martinez-Lopez (Испания),
                            Thierry Facon (Франция) и Luca Castagna (Италия). Как всегда, в нашей конференции
                            выступят ведущие российские специалисты.</p>
                            <p>Помимо очного формата, конференция будет проходить в режиме реального времени
                                в онлайн формате. Это позволит нашим коллегам в России и за рубежом присоединиться
                                к нам и поучаствовать в дискуссиях. Вся обширная программа – пленарные заседания,
                                круглые столы, дискуссии, постерная сессия, сателлитные симпозиумы и выставка –
                                будут доступны для слушателей на сайте conferenceml.com.</p>

                        <p>Мы будем обсуждать последние результаты развития науки и практики, опыт
                            российских докторов и зарубежных коллег, постараемся в процессе дискуссий
                            затронуть наиболее спорные вопросы нашей онкогематологической практики. Как уже
                            стало традицией, мы дадим слово и нашим докторам, которые участвуют в постерной
                            сессии и чьи работы Научный комитет выбрал как наиболее интересные. Они представят
                            свои сообщения в основных сессиях конференции.</p>
                        <p>Несмотря на пандемию, ни наука, ни клиническая практика не останавливались –
                            продолжаются научные исследования, наши больные по-прежнему нуждаются в современной
                            терапии, а врачи – в обмене опытом и новыми достижениями и идеями, поэтому
                            мы надеемся, что программа конференции заинтересует вас и позволит обогатить
                            ваш клинический опыт.</p>
                        <h3 style="float: right;"><font color="#3a557f">До встречи на конференции!</font></h3><br><br><br>
                        <!--p style="float: right;">Академик РАН <br>И. В. Поддубная</p><-->
                        </div>
                        </div>
                        

                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>

    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
    <div class="white_block">

        <div class="row justify-center">
            <div class="col-12 spon-title">
                Генеральные спонсоры
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-1">
                <a href="{{ path('app_company', {'id': 21}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/janssen.png">
                </a>
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-1">
                <a href="{{ path('app_company', {'id': 20}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/roche.png">
                </a>
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-1">
                <a href="{{ path('app_company', {'id': 16}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/sanofi.png">
                </a>
            </div>
        </div>

        <div class="row justify-center">
            <div class="col-12 spon-title">
                Золотые спонсоры
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                <a href="{{ path('app_company', {'id': 10}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/abbvie.png">
                </a>
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                <a href="{{ path('app_company', {'id': 13}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/astrazeneca.png">
                </a>
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                <a href="{{ path('app_company', {'id': 19}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/biocad.png">
                </a>
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                <a href="{{ path('app_company', {'id': 12}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/bms.png">
                </a>
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                <a href="{{ path('app_company', {'id': 22}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/pharmstandart.png">
                </a>
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                <a href="{{ path('app_company', {'id': 11}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/takeda.png">
                </a>
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                <a href="{{ path('app_company', {'id': 17}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/nanolek.png">
                </a>
            </div>
        </div>

        <div class="row justify-center">
            <div class="col-12 spon-title">
                Серебряный спонсор
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                <a href="{{ path('app_company', {'id': 18}) }}">
                    <img src="/uploads/backrgounds/logo sponsors/amgen.png">
                </a>
            </div>
        </div>

    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="white_block white_block-infpart">

        <div class="row justify-center">
            <div class="col-12 spon-title">
                Информационные партнёры
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                    <img src="/uploads/backrgounds/logo sponsors/abv.png">
            </div>
            <div class="col-sm-3 sponlogo-main-item col-sm-3-2">
                    <img src="/uploads/backrgounds/logo sponsors/remedium.png">
            </div>
        </div>

    </div>
            </div>
        </div>
    </div>
    </div>

            </div>
        </div>
    </div>
    <script>
        console.log('vps');
    </script>
{% endblock %}
