{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12"><br><br>
                    <!--div class="main-block-left">
                        <p>Дорогие коллеги!</p>
                        <p>17 и 18 сентября 2021 г. в Москве в очно- заочном режиме пройдет очередной, 31-й
                            интерактивный форум экспертов по вопросам диагностики и лечения лимфопролиферативных
                            заболеваний - «Лимфорум».</p>
                        <p>Второй год мы находимся в необычайно трудных условиях – пандемия COVID-19 изменила нашу
                            жизнь, влияет на нашу работу и наших пациентов. И все же жизнь постепенно входит в рабочую
                            колею - мы учимся жить в новых условиях, находим новые пути, приобретаем новые знания!</p>
                        <p>Именно обмен опытом и профессиональный диалог врачей всех специальностей (онкологов,
                            гематологов, патоморфологов), участвующих в диагностике и лечении больных злокачественными
                            лимфомами и множественной миеломой, лежит в основе идеи «Лимфорума», проводимого Российским
                            обществом онкогематологов уже на протяжении более 10 лет. Дважды в год врачи из различных
                            регионов России и СНГ и их зарубежные коллеги собираются вместе, чтобы обсудить сложные
                            клинические случаи, поделиться опытом, выразить свое мнение и прийти к консенсусу по
                            различным практическим аспектам лечения наших больных.</p>
                        <p>В этом году «Лимфорум» будет проходить в очном режиме Москве, а для удаленных слушателей
                            он пройдет в режиме онлайн. Вся его обширная программа – представление и разбор
                            ведущими экспертами-клиницистами и патоморфологами 15 сложных клинических случаев и
                            сателлитные симпозиумы будут доступны для слушателей на портале lymphorum.com, rusoncohem.ru
                            и med4share.ru. По окончании Лимфорума и прекращения работы портала lymphorum.com запись
                            всех событий «Лимфорума» будет доступна на
                            сайтах rusoncohem.ru и med4share.ru. </p>
                        <p>Благодаря большой работе Российского Общества онкогематологов, активной поддержке
                            специалистов -энтузиастов своего дела и, конечно, вас, участников нашей сегодняшней
                            аудитории, с каждым годом «Лимфорумы» растет и развивается. Мы надеемся, что программа 31-го
                            «Лимфорума» не разочарует и будет полезна для дальнейшего развития вашей клинической
                            деятельности и ваших больных!</p>
                        <p>До встречи на Лимфоруме!</p>
                        <p>Академик РАН <br>И. В. Поддубная</p>
                    </div><-->
                    <div class="white_block_hello sponlogo-main">
                        <div class="row">
                            <div></div>
                            <div><br><br><br></div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <img src="/uploads/backrgounds/predsetatel.png" style="float: left;" hspace="10">
                            </div>
                            <!--div class="col-sm-4">
                            <img src="/uploads/backrgounds/predsetatel.png" style="float: left;" hspace="10">
                            </div>  <-->
                            <div class="col-sm-8" sponlogo-main-item">
                            <br>
                            <h2><font color="#980186"><center>Дорогие коллеги!</center></font></h2>
                            <br><br>
                        <p>17 и 18 сентября 2021 г. в Москве в очно- заочном режиме пройдет очередной, 31-й
                            интерактивный форум экспертов по вопросам диагностики и лечения лимфопролиферативных
                            заболеваний - «Лимфорум».</p>
                            <p>Второй год мы находимся в необычайно трудных условиях – пандемия COVID-19 изменила нашу
                            жизнь, влияет на нашу работу и наших пациентов. И все же жизнь постепенно входит в рабочую
                            колею - мы учимся жить в новых условиях, находим новые пути, приобретаем новые знания!</p>
                            </div>
                            <div>
                        <p>Именно обмен опытом и профессиональный диалог врачей всех специальностей (онкологов,
                            гематологов, патоморфологов), участвующих в диагностике и лечении больных злокачественными
                            лимфомами и множественной миеломой, лежит в основе идеи «Лимфорума», проводимого Российским
                            обществом онкогематологов уже на протяжении более 10 лет. Дважды в год врачи из различных
                            регионов России и СНГ и их зарубежные коллеги собираются вместе, чтобы обсудить сложные
                            клинические случаи, поделиться опытом, выразить свое мнение и прийти к консенсусу по
                            различным практическим аспектам лечения наших больных.</p>
                        <p>В этом году «Лимфорум» будет проходить в очном режиме Москве, а для удаленных слушателей
                            он пройдет в режиме онлайн. Вся его обширная программа – представление и разбор
                            ведущими экспертами-клиницистами и патоморфологами 15 сложных клинических случаев и
                            сателлитные симпозиумы будут доступны для слушателей на порталах lymphorum.com, rusoncohem.ru
                            и med4share.ru. По окончании Лимфорума и прекращения работы портала lymphorum.com запись
                            всех событий «Лимфорума» будет доступна на
                            сайтах rusoncohem.ru и med4share.ru. </p>
                        <p>Благодаря большой работе Российского Общества онкогематологов, активной поддержке
                            специалистов -энтузиастов своего дела и, конечно, вас, участников нашей сегодняшней
                            аудитории, с каждым годом «Лимфорумы» растет и развивается. Мы надеемся, что программа 31-го
                            «Лимфорума» не разочарует и будет полезна для дальнейшего развития вашей клинической
                            деятельности и ваших больных!</p>
                        <h3 style="float: right;"><font color="#980186">До встречи на Лимфоруме!</font></h3><br><br><br>
                        <p style="float: right;">Академик РАН <br>И. В. Поддубная</p>
                        </div>
                        </div>
                        
                    </div>
                    <div class="white_block sponlogo-main">
                        <div class="row justify-center">
                            <div class="col-12 spon-title">
                                Генеральные спонсоры
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':13}) }}">
                                    <img src="assets/img/sponsor/logo/gen2.png">
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':12}) }}">
                                    <img src="assets/img/sponsor/logo/gen3.png">
                                </a>
                            </div>
                            <div class="col-sm-4 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':17}) }}">
                                    <img src="assets/img/sponsor/logo/gen4.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="white_block">
                        <div class="row justify-center">
                            <div class="col-12 spon-title">
                                Cпонсоры
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company') }}">
                                    <img src="assets/img/sponsor/logo/gen1.png">
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':18}) }}">
                                    <img src="assets/img/sponsor/logo/sp1.png">
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':19}) }}">
                                    <img src="assets/img/sponsor/logo/sp2.png">
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':21}) }}">
                                    <img src="assets/img/sponsor/logo/sp3.png">
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':20}) }}">
                                    <img src="assets/img/sponsor/logo/sp4.png">
                                </a>
                            </div>
                            <div class="col-sm-5 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':16}) }}">
                                    <img src="assets/img/sponsor/logo/sp6.png">
                                </a>
                            </div>
                            <div class="col-sm-3 sponlogo-main-item">
                                <a href="{{ path('app_company', {'id':11}) }}">
                                    <img src="assets/img/sponsor/logo/sp5.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
    <script>
        console.log('vps');
    </script>
{% endblock %}
