{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block programs-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="program-header">
                        <div class="program-date">
                            <a href="{{ path('app_main_home_symposium13') }}" class="btn btn-fill-program">13 октября</a>
                            <a href="#prog1" class="btn btn-fill-program active">14 октября</a>
                            <a href="{{ path('app_main_home_symposium15') }}" class="btn btn-fill-program">15 октября</a>
                        </div>
                    </div>
                    <div class="programs-logo-symp">
                        {# <div class="programs-logo-img"> #}
                        {# <img src="/assets/img/prog-logo1.jpg"> #}
                        {# <img src="/assets/img/prog-logo2.jpg"> #}
                        {# </div> #}
                        <div class="programs-logo-text">
                            <div class="programs-title" id="prog1">
                                14 октября 2021 г.</div>
                        </div>
                    </div>

                    <div class="program-table program-table-symp">
                        <div class="symposium-row">
                            <div class="col-sm-4 sponlogo-main-item">13:00 – 14:15</div>
                            <div class="col-sm-4 sponlogo-main-item"><img src="/uploads/backrgounds/logo_sponsors_symp/abbvie.png"></div>
                            <div class="col-sm-4 sponlogo-main-item">Конференц-зал «Чехов»</div>
                        </div>
                        <div class="symposium-title">
                            <div><h4>Сателлитный симпозиум компании AbbVie</h4></div>
                            <h4><b>«Фиксированная таргетная терапия: актуальные подходы в реальной клинической практике»</b></h4>
                        </div>
                        <ul class="symposium-list">
                            <li>Модератор: <font color="#199ab3"> &nbsp; И.В. Поддубная</font></li>
                            <li>
                                <span>13:00 – 13:10</span>
                                <span>Приветственное слово. <br><font color="#199ab3"><em> И.В. Поддубная</em></font></span>
                            </li>
                            <li>
                                <span>13:10 – 13:30</span>
                                <span>Венетоклакс в терапии рецидивов ХЛЛ: кому, когда и как. <br><font color="#199ab3"><em> Е.А. Никитин</em></font><span>
                            </li>
                            <li>
                                <span>13:30 – 13:50</span>
                                <span>Подходы к последовательности выбора таргетной терапии. <br><font color="#199ab3"><em> Н.Б. Михайлова</em></font></span>
                            </li>
                            <li>
                                <span>13:50 – 14:00</span>
                                <span>Экономические преимущества назначения фиксированной таргетной терапии ХЛЛ. <br><font color="#199ab3"><em> А.В. Рудакова</em></font></span>
                            </li>
                            <li>
                                <span>14:00 – 14:15</span>
                                <span>Закрытие сессии. <br><font color="#199ab3"><em> И.В. Поддубная</em></font></span>
                            </li>
                        </ul>
                        <a onclick="setUserStatistics(12);" href="{{ path('app_broadcast', {'chatid': 12}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                    <div class="program-table program-table-symp">
                        <div class="symposium-row">
                            <div class="col-sm-4 sponlogo-main-item">13:00 – 14:15</div>
                            <div class="col-sm-4 sponlogo-main-item"><img src="/uploads/backrgounds/logo_sponsors_symp/astrazeneca.png"></div>
                            <div class="col-sm-4 sponlogo-main-item">Конференц-зал «Пушкин»</div>
                        </div>
                        <div class="symposium-title">
                            <div><h4>Сателлитный симпозиум компании AstraZeneca</h4></div>
                            <h4><b>«Новый уровень управления ХЛЛ»</b></h4>
                        </div>
                        <ul class="symposium-list">
                            <li>Модератор: <font color="#199ab3"> &nbsp; В.В. Птушкин</font></li>
                            <li>
                                <span>13:00 – 13:05</span>
                                <span>Приветствие. <br><font color="#199ab3"><em> В.В. Птушкин</em></font></span>
                            </li>
                            <li>
                                <span>13:05 – 13:25</span>
                                <span>Меняющийся ландшафт лечения ХЛЛ. <br><font color="#199ab3"><em> В.В. Птушкин</em></font><span>
                            </li>
                            <li>
                                <span>13:25 – 13:45</span>
                                <span>ELEVATE RR – первые результаты прямого сравнения акалабрутиниба и ибрутиниба в рефрактерном/рецидивном ХЛЛ. <br><font color="#199ab3"><em> Peter Hillmen</em></font></span>
                            </li>
                            <li>
                                <span>13:45 – 14:05</span>
                                <span>От науки к практике: Опыт применения акалабрутиниба в клинической практике. <br><font color="#199ab3"><em> Е.А. Никитин</em></font></span>
                            </li>
                            <li>
                                <span>14:05 – 14:15</span>
                                <span>Дискуссия</span>
                            </li>
                        </ul>
                        <a onclick="setUserStatistics(11);" href="{{ path('app_broadcast', {'chatid': 11}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                    <div class="program-table program-table-symp">
                        <div class="symposium-row">
                            <div class="col-sm-4 sponlogo-main-item">13:00 – 14:15</div>
                            <div class="col-sm-4 sponlogo-main-item"><img src="/uploads/backrgounds/logo_sponsors_symp/bms.png"></div>
                            <div class="col-sm-4 sponlogo-main-item">Конференц-зал «Толстой»</div>
                        </div>
                        <div class="symposium-title">
                            <div><h4>Сателлитный симпозиум компании Bristol-Myers Squibb</h4></div>
                            <h4><b>«Коррекция анемического синдрома при МДС низкого риска: новые возможности»</b></h4>
                        </div>
                        <ul class="symposium-list">
                            <li>
                                <span>13:00 – 13:20</span>
                                <span>Миелодиспластический синдром низкого риска: фокус на диагностику и прогноз. <br><font color="#199ab3"><em> А.В. Кохно</em></font></span>
                            </li>
                            <li>
                                <span>13:20 – 13:40</span>
                                <span>Неэффективный эритропоэз: почему важно снизить гемотрансфузионную зависимость? <br><font color="#199ab3"><em> С.В. Грицаев</em></font><span>
                            </li>
                            <li>
                                <span>13:40 – 14:00</span>
                                <span>Луспатерцепт в терапии анемии у пациентов с миелодиспластическим синдромом низкого риска. <br><font color="#199ab3"><em> Uwe Platzbecker</em></font></span>
                            </li>
                            <li>
                                <span>14:00 – 14:15</span>
                                <span>Обсуждение</span>
                            </li>
                        </ul>
                        <a onclick="setUserStatistics(9);" href="{{ path('app_broadcast', {'chatid': 9}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                    <div class="program-table program-table-symp">
                        <div class="symposium-row">
                            <div class="col-sm-4 sponlogo-main-item">13:00 – 14:15</div>
                            <div class="col-sm-4 sponlogo-main-item"><img src="/uploads/backrgounds/logo_sponsors_symp/roche.png"></div>
                            <div class="col-sm-4 sponlogo-main-item">Конференц-зал «Чайковский»</div>
                        </div>
                        <div class="symposium-title">
                            <div><h4>Сателлитный симпозиум компании Roche</h4></div>
                            <h4><b>«Через матрицу теории к реальному пациенту. Междисциплинарный подход
                                    в терапии индолентных НХЛ»</b></h4>
                        </div>
                        <ul class="symposium-list">
                            <li>Председатели: <font color="#199ab3"> &nbsp; Г.С. Тумян, Carsten Utoft Niemann</font></li>
                            <li>
                                <span>13:00 – 13:05</span>
                                <span>Открытие симпозиума, приветственное слово. <br><font color="#199ab3"><em> Г.С. Тумян, Carsten Utoft Niemann</em></font></span>
                            </li>
                            <li>
                                <span>13:05 – 13:50</span>
                                <span>Не упустить важное у пациента с фолликулярной лимфомой: ИГХ, ПЭТ-КТ, выбор терапии. <br><font color="#199ab3"><em> Г.С. Тумян, Ю.А. Криволапов, М.Я. Смолярчук</em></font><span>
                            </li>
                            <li>
                                <span>13:50 – 14:10</span>
                                <span>МОБ-адаптированная терапия у пациентов с ХЛЛ. <br><font color="#199ab3"><em> Carsten Utoft Niemann</em></font></span>
                            </li>
                            <li>
                                <span>14:10 – 14:15</span>
                                <span>Подведение итогов</span>
                            </li>
                        </ul>
                        <a onclick="setUserStatistics(13);" href="{{ path('app_broadcast', {'chatid': 13}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                    <div class="program-table program-table-symp">
                        <div class="symposium-row">
                            <div class="col-sm-4 sponlogo-main-item">18:00 – 19:30</div>
                            <div class="col-sm-4 sponlogo-main-item"><img src="/uploads/backrgounds/logo_sponsors_symp/sanofi.png"></div>
                            <div class="col-sm-4 sponlogo-main-item">Конференц-зал «Толстой»</div>
                        </div>
                        <div class="symposium-title">
                            <div><h4>Сателлитный симпозиум компании Sanofi Genzyme</h4></div>
                            <h4><b>«Из Тихого океана в Эгейское море: что общего между двумя островами и лечением
                                    множественной миеломы?»</b></h4>
                        </div>
                        <ul class="symposium-list">
                            <li>Председатель: <font color="#199ab3"> &nbsp; Л.П. Менделеева</font></li>
                            <li>
                                <span>18:00 – 18:10</span>
                                <span>Вступительное слово. <br><font color="#199ab3"><em> Л.П. Менделеева</em></font></span>
                            </li>
                            <li>
                                <span>18:10 – 18:45</span>
                                <span>ИКАРИЯ. Эгейское море: спасение в жарком климате. <br><font color="#199ab3"><em> М.В. Соловьев</em></font><span>
                            </li>
                            <li>
                                <span>18:45 – 19:20</span>
                                <span>ИКЕМА. Тихий океан: остров возможностей в бушующем океане опций. <br><font color="#199ab3"><em> С.В. Семочкин</em></font></span>
                            </li>
                            <li>
                                <span>19:20 – 19:30</span>
                                <span>Обсуждение</span>
                            </li>
                        </ul>
                        <a onclick="setUserStatistics(10);" href="{{ path('app_broadcast', {'chatid': 10}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function setUserStatistics(id) {
            let data = {'broadcast': id};
            $.ajax({
                url: '{{ (path('app_user_statistics_ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    data: data // Данные которые отправляем на сервер
                },
                async: true,
                success: function (data) {
                    console.log(data)
                }
            });
            return false;
        };
    </script>
{% endblock %}