{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block programs-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="program-header">
                        <div class="program-date">
                            <a href="#sat18" class="btn btn-fill-program active">13 октября</a>
                            <a href="{{ path('app_main_home_symposium14') }}" class="btn btn-fill-program ">14 октября</a>
                            <a href="{{ path('app_main_home_symposium15') }}" class="btn btn-fill-program ">15 октября</a>
                        </div>
                    </div>
                    <div class="programs-logo-symp">
{#                        <div class="programs-logo-img">#}
{#                            <img src="/assets/img/prog-logo1.jpg">#}
{#                            <img src="/assets/img/prog-logo2.jpg">#}
{#                        </div>#}
                        <div class="programs-logo-text">
                            <div class="programs-title" id="prog1">
                                13 октября 2021 г.
                            </div>
                        </div>
                    </div>

                    <div class="program-table program-table-symp">
                        <div class="symposium-row">
                            <div class="col-sm-4 sponlogo-main-item">12:00 – 13:45</div>
                            <div class="col-sm-4 sponlogo-main-item"><img src="/uploads/backrgounds/logo_sponsors_symp/takeda.png"></div>
                            <div class="col-sm-4 sponlogo-main-item">Конференц-зал «Толстой»</div>
                        </div>
                        <div class="symposium-title">
                            <div><h4>Сателлитный симпозиум компании Takeda</h4></div>
                            <h4><b>«Терапия множественной миеломы: реалии и перспективы»</b></h4>
                        </div>
                        <ul class="symposium-list">
                            <li>Председатель: Л.П. Менделеева</li>
                            <li>
                                <span>12:00 – 12:05</span>
                                <span>Приветственное слово. <br><em> Л.П. Менделеева</em></span>
                            </li>
                            <li>
                                <span>12:05 – 12:25</span>
                                <span>Оптимизация 1-й линии терапии множественной миеломы. <br><em> С.В. Семочкин</em><span>
                            </li>
                            <li>
                                <span>12:25 – 12:45</span>
                                <span>Научный поиск новых возможностей в 1-й линии терапии множественной миеломы. <br><em> М.В. Соловьев</em></span>
                            </li>
                            <li>
                                <span>12:45 – 13:05</span>
                                <span>Этап поддерживающей терапии множественной миеломы. Проблемы и решения. <br><em> О.В. Пирогова</em></span>
                            </li>
                            <li>
                                <span>13:05 – 13:25</span>
                                <span>Ближайшие и отдаленные перспективы терапии РРММ. <br><em> К.Д. Капланов</em></span>
                            </li>
                            <li>
                                <span>13:25 – 13:40</span>
                                <span>Панельная дискуссия: сессия Q&A</span>
                            </li>
                            <li>
                                <span>13:40 – 13:45</span>
                                <span>Заключительное слово. <br><em> Л.П. Менделеева</em></span>
                            </li>
                        </ul>
                        <a onclick="setUserStatistics(4);" href="{{ path('app_broadcast', {'chatid': 4}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                    <div class="program-table program-table-symp">
                        <div class="symposium-row">
                            <div class="col-sm-4 sponlogo-main-item">14:00 – 16:30</div>
                            <div class="col-sm-4 sponlogo-main-item"><img src="/uploads/backrgounds/logo_sponsors_symp/janssen.png"></div>
                            <div class="col-sm-4 sponlogo-main-item">Конференц-залы «Пушкин» + «Чехов»</div>
                        </div>
                        <div class="symposium-title">
                            <div><h4>Сателлитный симпозиум компании Janssen,
                                    фармацевтическое подразделение Johnson&Johnson</h4></div>
                            <h4><b>«Как улучшить исходы терапии пациентов с ММ и ХЛЛ сегодня»</b></h4>
                        </div>
                        <ul class="symposium-list">
                            <li style="text-align: center;">БЛОК I. ОТ ДОКАЗАТЕЛЬНЫХ ДАННЫХ К РЕАЛЬНОЙ ПРАКТИКЕ ГЕМАТОЛОГА</li>
                            <li>Председатели: И.В. Поддубная, Л.П. Менделеева</li>
                            <li>
                                <span>14:00 – 14:05</span>
                                <span>Приветственное слово Председателей. <br><em>И.В. Поддубная, Л.П. Менделеева</em></span>
                            </li>
                            <li>
                                <span>14:05 – 14:25</span>
                                <span>Современные Клинические рекомендации по лечению ММ. <br><em>Л.П. Менделеева</em></span>
                            </li>
                            <li>
                                <span>14:25 – 14:45</span>
                                <span>Наиболее эфффективная терапия в первой линии лечения пациентов с ММ, не являющихся кандидатами для ауто-ТГСК. <br><em>М.В. Соловьев</em></span>
                            </li>
                            <li>
                                <span>14:45 – 15:05</span>
                                <span>Новые опции для лечения РР ММ. <br><em>С.В. Семочкин</em></span>
                            </li>
                            <li><span>15:05 – 15:15</span>
                                <span>Подведение итогов. <br><em>И.В. Поддубная, Л.П. Менделеева</em></span>
                            </li><br>
                            <li style="text-align: center;">БЛОК II. ИННОВАЦИИ В ЖИЗНИ ГЕМАТОЛОГА СЕГОДНЯ</li>
                            <li>Председатель: В.В. Птушкин</li>
                            <li>
                                <span>15:15 – 15:20</span>
                                <span>Приветственное слово Председателя. <br><em>В.В. Птушкин</em></span>
                            </li>
                            <li>
                                <span>15:20 – 15:40</span>
                                <span>Путь гематолога – от переливания крови до искусственного интеллекта в ММ. <br><em>В.В. Птушкин</em></span>
                            </li>
                            <li>
                                <span>15:40 – 16:00</span>
                                <span>Новое в терапии ХЛЛ, начиная с первой линии. <br><em>Е.А. Никитин</em></span>
                            </li>
                            <li>
                                <span>16:00 – 16:20</span>
                                <span>Новое в терапии ЛМЗ: пятилетний</span>
                            </li>
                        </ul>
                        <a onclick="setUserStatistics(4);" href="{{ path('app_broadcast', {'chatid': 4}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                    <div class="program-table program-table-symp">
                        <div class="symposium-row">
                            <div class="col-sm-4 sponlogo-main-item">17:00 – 19:00</div>
                            <div class="col-sm-4 sponlogo-main-item"><img src="/uploads/backrgounds/logo_sponsors_symp/roche.png"></div>
                            <div class="col-sm-4 sponlogo-main-item">Конференц-зал «Чайковский»</div>
                        </div>
                        <div class="symposium-title">
                            <div><h4>Сателлитный симпозиум компании Roche</h4></div>
                            <h4><b>«ДВКЛ 2.0: реальный вызов лимфоме»</b></h4>
                        </div>
                        <ul class="symposium-list">
                            <li>Председатели: И.В. Поддубная, Laurie H. Sehn</li>
                            <li>
                                <span>17:00 – 17:15</span>
                                <span>Открытие симпозиума, приветственное слово Председателей. <br><em>И.В. Поддубная, Laurie H. Sehn</em></span>
                            </li>
                            <li>
                                <span>17:15 – 17:40</span>
                                <span>Как я лечу ДВКЛ: реальная клиническая практика. <br><em>Г.С. Тумян</em></span>
                            </li>
                            <li>
                                <span>17:40 – 18:10</span>
                                <span>Инновации в первом рецидиве ДВКЛ: если не сейчас, то когда? <br><em>Laurie H. Sehn</em></span>
                            </li>
                            <li>
                                <span>18:10 – 18:30</span>
                                <span>Пятилетний рубеж: что нас ждет в терапии ДВКЛ. <br><em>В.В. Птушкин</em></span>
                            </li>
                            <li>
                                <span>18:30 – 19:00</span>
                                <span>Панельная дискуссия</span>
                            </li>
                        </ul>
                        <a onclick="setUserStatistics(4);" href="{{ path('app_broadcast', {'chatid': 4}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function setUserStatistics(id) {
            let data = {'broadcast': id};
            $.ajax({
                url: '{{ (path('app_user_statistics_ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    data: data // Данные которые отправляем на сервер
                },
                async: true,
                success: function (data) {
                }
            });
            return false;
        };
    </script>
{% endblock %}
