{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':18}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/amgen.png') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':13}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/astrazeneca.jpg') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':19}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/biocad.png') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':12}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/bms1.png') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':17}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/nanolek1.png') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':17}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/nanolek2.png') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="https://go.roche.com/5ohgt">
                                    <img src="{{ asset('assets/img/sponsor/banner/roche_gaz.png') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="https://go.roche.com/vl3xg">
                                    <img src="{{ asset('assets/img/sponsor/banner/roche2.png') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':16}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/sanofi1.gif') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':16}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/sanofi2.gif') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                            <div class="carousel-item" data-bs-interval="4000">
                                <a href="{{ path('app_company', {'id':22}) }}">
                                    <img src="{{ asset('assets/img/sponsor/banner/takeda.jpg') }}"
                                         class="d-block w-100">
                                </a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="white_block-stands1 spon-logo">
                        <div class="row justify-center">
                            <div class="col-12 spon-title1">
                                Генеральные спонсоры<br>
                            </div>
                            <div class="col-12 spon-title">
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ path('app_company', {'id': 21}) }}">
                                    <img id="company_13" src="assets/img/sponsor/janssen.png">
                                </a><br>
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ path('app_company', {'id': 20}) }}">
                                    <img id="company_12" src="assets/img/sponsor/roche.png">
                                </a><br>
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ path('app_company', {'id': 16}) }}">
                                    <img id="company_17" src="assets/img/sponsor/sanofi.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="white_block-stands2 spon-logo ">
                        <div class="row justify-center">
                            <div class="col-12 spon-title2">
                                Золотые спонсоры
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4-1">
                                    <a href="{{ path('app_company', {'id': 10}) }}">
                                        <img id="company_21" src="assets/img/sponsor/abbvie.png">
                                    </a>
                                </div>
                                <div class="col-sm-4-1">
                                    <a href="{{ path('app_company', {'id': 13}) }}">
                                        <img id="company_20" src="assets/img/sponsor/astrazeneca.png">
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4-1">
                                    <a href="{{ path('app_company', {'id': 19}) }}">
                                        <img id="company_16" src="assets/img/sponsor/biocad.png">
                                    </a>
                                </div>
                                <div class="col-sm-4-1">
                                    <a href="{{ path('app_company', {'id': 12}) }}">
                                        <img id="company_11" src="assets/img/sponsor/bms_cel.png">
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4-1">
                                    <a href="{{ path('app_company', {'id': 22}) }}">
                                        <img id="company_16" src="assets/img/sponsor/pharmstandart.png">
                                    </a>
                                </div>
                                <div class="col-sm-4-1">
                                    <a href="{{ path('app_company', {'id': 11}) }}">
                                        <img id="company_11" src="assets/img/sponsor/takeda.png">
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-center">
                            <div class="col-sm-4-1">
                                <a href="{{ path('app_company', {'id': 17}) }}">
                                    <img id="company_18" src="assets/img/sponsor/nanolek.png">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="white_block-stands3 spon-logo ">
                        <div class="row justify-center">
                            <div class="col-12 spon-title3">
                                Серебряный спонсор
                            </div>
                            <div class="col-sm-4-1">
                                <a href="{{ path('app_company', {'id': 18}) }}">
                                    <img id="company_18" src="assets/img/sponsor/amgen.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('click', function (event) {
            let nameId = event.target.getAttribute('id');
            if (!!nameId) {
                let name = nameId.split('_', 1).pop();
                let id = nameId.split('_', 2).pop();
                if (!!id && ('company' == name)) {
                    let data = {};
                    data[name] = id;
                    setAjax(data);
                }
            }
        });

        function setAjax(data) {
            $.ajax({
                url: '{{ (path('app_user_statistics_ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    data: data // Данные которые отправляем на сервер
                },
                async: true,
                success: function (data) {
                    console.log(data)
                }
            });
            return false;
        };
    </script>
{% endblock %}
