{% extends 'admin/base.html.twig' %}

{% block body %}
    {{ form_start(posterForm) }}
    <div class="container">
        <div class="row">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td>Заголовок</td>
                    <td>{{ form_row(posterForm.title) }}</td>
                </tr>
                <tr>
                    <td>Текст</td>
                    <td>{{ form_row(posterForm.content) }}</td>
                </tr>
                <tr>
                    <td>PDF</td>
                    <td>{{ form_row(posterForm.file) }}</td>
                </tr>
                <tr>
                    <td>Картинка</td>
                    <td>{{ form_row(posterForm.thumbnail) }}</td>
                </tr>
                <tr>
                    <td>Категория</td>
                    <td>{{ form_row(posterForm.posterCategory) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(posterForm.add) }}</div>
        </div>
    </div>
    {{ form_end(posterForm) }}
{% endblock %}
