<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}platform{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-5.0.1/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon"/>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery-3.6.0.js') }}"></script>
        <script src="{{ asset('assets/framework/bootstrap-5.0.1/js/bootstrap.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('label').remove();
            });
        </script>
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-6 header-logo">
                    <img src="/assets/img/logo.png">
                </div>
                <nav class="col-lg-10 col-3 navbar-light navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <div class="nav-container">
                            <div class="dropdown">
                                <a class="nav-link {% if app.request.attributes.get('_route') starts with 'app_admin_users' %}active{% endif %}" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Пользователи
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="{{ path('app_admin_users') }}">Добавление/Редактирование</a></li>
                                    <li><a class="dropdown-item" href="#">Другое действие</a></li>
                                    <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                                </ul>
                            </div>
{#                            <a href="{{ path('app_admin_users') }}" class="nav-link">Пользователи</a>#}
                            <a href="{{ path('app_admin_speaker') }}" class="nav-link">Спикеры</a>
                            <a href="{{ path('app_admin_question_speaker') }}" class="nav-link">Вопросы спикеру</a>
                            <a href="{{ path('app_admin_poster') }}" class="nav-link">Постеры</a>
                            <a href="{{ path('app_admin_news') }}" class="nav-link">Новости</a>
                            <a href="{{ path('app_admin_company') }}" class="nav-link">Компании</a>
                            <a href="{{ path('app_admin_chat_rooms') }}" class="nav-link">Трансляции</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>
