{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row registration">
            <div class="col-md-7">
                <div class="row registration-banner">
                    <div class="col-md-12">
                        <img src="/assets/img/banner.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="registration-buttons">
                            <button class="btn btn-outline-secondary">Программа</button>
                            <a href="{{ path('theses_create') }}" class="btn btn-outline-secondary">Отправить постер</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <img class="registration-logo" src="/assets/img/logo.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 registration-form">
                        <h4>Регистрация</h4>
                        {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {
                                label: 'e-mail',
                                row_attr: {
                                    class: 'input-group'
                                }
                            }) }}
                        </div>
                        {# <div class="form-control"> #}
                        {# <i class="fa fa-calendar"></i> {{ form_label(registrationForm.email) }} #}
                        {# {{ form_widget(registrationForm.email, {label: form_label(registrationForm.email)}) }} #}

                        {# <small>{{ form_help(registrationForm.email) }}</small> #}

                        {# <div class="form-error"> #}
                        {# {% for flashError in app.flashes('verify_email_error') %} #}
                        {# <div class="alert alert-danger" role="alert">{{ flashError }}</div> #}
                        {# {% endfor %} #}
                        {# </div> #}
                        {# </div> #}
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.surname, {label: 'Фамилия'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.name, {label: 'Имя'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.patronymic, {label: 'Отчество'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.specialization, {label: 'Специализация'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.job, {label: 'Место работы'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.position, {label: 'Должность'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.phone, {label: 'Телефон'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.country, {label: 'Страна'}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.city, {label: 'Город'}) }}
                        </div>
                        <div class="row registration-checkbox">
                            {{ form_row(registrationForm.agreeTerms) }}
                            <div>Согласен на <span>обработку персональных данных</span></div>
                        </div>

                        <button type="submit" class="btn btn-outline-secondary">Зарегистрироваться</button>
                        <a href="/login">Войти на платформу</a>
                        <a href="javascript:void(0);">Помощь</a>
                        {{ form_end(registrationForm) }}

                    </div>
                </div>
                <div class="row">
                    <div class="d-block d-sm-block d-md-none">
                        <button class="btn btn-outline-secondary">Программа</button>
                        <a href="{{ path('theses_create') }}" class="btn btn-outline-secondary">Отправить постер</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
