{% block body %}
    <div class="modal fade modalQuestion" id="modalQuestion" tabindex="-1" aria-labelledby="modalQuestionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content form">
                {{ form_start(questionForm, {'action': url}) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="modalQuestionLabel">Задать вопрос спикерам</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
{#                    <p>Выберите спикера:</p>#}
                    {{ form_row(questionForm.speaker) }}
                    {{ form_row(questionForm.content) }}
                </div>
                <div class="modal-footer">
                    {{ form_row(questionForm.send) }}
                </div>
                {{ form_end(questionForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
