{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block programs-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="program-header">
                        <div class="program-date d-none d-lg-block">
                            <a href="{{ path('app_main_home_programms17') }}" class="btn btn-fill">17 сентября</a>
                            <a href="#prog2" class="btn btn-fill active">18 сентября</a>
                        </div>
                        <a href="{{ asset('uploads/programm/limforum.pdf') }}" target="_blank"
                           class="btn btn-bluez btn-down">Открыть программу в формате PDF</a>
                    </div>
                    <div class="programs-logo proglogback">
                        <div class="programs-logo-img">
                            <img src="/assets/img/prog-logo1.png">
                            <img src="/assets/img/prog-logo2.png">
                        </div>
                        <div class="programs-logo-text">
                            <div class="programs-title d-none d-lg-block" id="prog2">18 сентября 2021 г.</div>
                            <div class="programs-title d-none d-lg-block">Председатель: Поддубная Ирина Владимировна,
                                академик
                                РАН, проф., проректор по лечебной работе и международному сотрудничеству, заведующая
                                кафедрой
                                онкологии и паллиативной медицины им. акад. А.И. Савицкого ФГБОУ ДПО РМАНПО Минздрава
                                России,
                                председатель Российского профессионального общества онкогематологов, Москва
                            </div>
                        </div>
                    </div>
                    {# <div class="programs-title d-none d-lg-block" id="prog2">18 сентября 2021 г.</div> #}
                    <div class="program-table d-none d-lg-block table-border">
                        <div class="program-table-scroll">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Время</th>
                                    <th>Лектор</th>
                                    <th>Название</th>
                                    <th>Эксперт-патоморфолог</th>
                                    <th>Эксперт-клиницист</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-lilac">
                                    <td colspan="5" class="text-center"><b>Сессия IV. Разбор клинических случаев по
                                            вопросам лечения ММ</b><br>Модератор – Менделеева Л.П.
                                    </td>
                                </tr>
                                <tr>
                                    <td nowrap="">09:00 - 09:50</td>
                                    <td nowrap="">Жеребцова В.А.<br>Москва</td>
                                    <td>Применение схемы KRd в качестве 2 линии терапии множественной миеломы</td>
                                    <td></td>
                                    <td>Бессмельцев С.С.<br>Санкт-Петербург</td>
                                </tr>
                                <tr>
                                    <td nowrap="">09:50 - 10:40</td>
                                    <td>Скворцова Н.С.<br>Новосибирск</td>
                                    <td>Терапия множественной миеломы высокого цитогенетического риска</td>
                                    <td></td>
                                    <td nowrap="">Соловьев М.В.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td nowrap="">10:40 - 11:30</td>
                                    <td>Клиточенко Т.Ю.<br>Волгоград</td>
                                    <td>Выбор терапии – первый рецидив множественной миеломы</td>
                                    <td></td>
                                    <td nowrap="">Семочкин С.В.<br>Москва</td>
                                </tr>
                                <tr class="bg-gray">
                                    <td>11:30 - 11:45</td>
                                    <td colspan="4" class="text-center"><em>Кофе-брейк</em></td>
                                </tr>
                                <tr>
                                    <td nowrap="">11:45 - 12:35</td>
                                    <td>Лучинин А.С.<br>Киров</td>
                                    <td>Длительное лечение пациента с ММ</td>
                                    <td></td>
                                    <td nowrap="">Гарифуллин А.Д.<br>Санкт-Петербург</td>
                                </tr>
                                <tr>
                                    <td nowrap="">12:35 - 13:15</td>
                                    <td>Зубкова Е. В.<br>Иркутск</td>
                                    <td>Первично множественные синхронные лимфопролиферативные заболевания: ХЛЛ и ММ
                                    </td>
                                    <td>Байков В.В.<br>Санкт-Петербург</td>
                                    <td nowrap="">Воробьев В.И.<br>Москва</td>
                                </tr>
                                <tr class="bg-gray">
                                    <td>13:15 - 13:40</td>
                                    <td colspan="4" class="text-center"><em>Обед</em></td>
                                </tr>
                                <tr class="bg-lilac">
                                    <td colspan="5" class="text-center"><b>Сессия V. Разбор клинических случаев по
                                            вопросам лечения аНХЛ</b><br>Модератор – Менделеева Л.П.
                                    </td>
                                </tr>
                                <tr>
                                    <td>13:40 - 14:35</td>
                                    <td nowrap="">Рябчикова В.В.<br>Санкт-Петербург</td>
                                    <td>Терапия рецидивов ДВККЛ
                                    </td>
                                    <td>Байков В.В.<br>Санкт-Петербург</td>
                                    <td>Бабичева Л.Г.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>14:35 - 15:35</td>
                                    <td nowrap="">Данилова М. А.<br>Обнинск</td>
                                    <td>Посттрансплантационная лимфома Беркитта</td>
                                    <td></td>
                                    <td>Соловьев М.В.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>15:35 - 15:40</td>
                                    <td colspan="4" class="text-center"><em>Закрытие Лимфорума</em></td>
                                </tr>
                                <tr class="bg-gray">
                                    <td>15:40 - 15:55</td>
                                    <td colspan="4" class="text-center"><em>Кофе-брейк </em></td>
                                </tr>
                                {# <tr class="bg-gray"> #}
                                {# <td>16:00 - 17:45</td> #}
                                {# <td colspan="4"><em>Сателлитный симпозиум компании Bristol-Myers Squibb</em></td> #}
                                {# <td colspan="2"><em>Сателлитный симпозиум</em></td> #}
                                {# </tr> #}
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('app_broadcast', {'chatid': 1}) }}" class="btn btn-bluez">Подключиться к онлайн
                            трансляции</a>
                    </div>
                    <div class="program-pdf">
                        <a href="{{ path('app_broadcast', {'chatid': 1}) }}" target="_blank" class="btn btn-bluez">Поключиться
                            к онлайн трансляции</a>
                        <a href="{{ asset('uploads/programm/limforum.pdf') }}" target="_blank"
                           class="btn btn-bluez btn-down">Открыть программу в формате PDF</a>
                    </div>
                    <div class="program-dop d-none d-lg-flex">
                        <div class="program-dop-item program-dop-item-one sympprogbacklong">
                            <div class="program-dop-item-time">
                                15:55 – 17:45
                            </div>
                            <div class="program-dop-item-title">
                                <b>Сателлитный симпозиум компании Bristol Myers Squibb</b><br>
                                <em>* Не обеспечивается кредитами НМО</em>
                            </div>
                            <a href="{{ path('app_broadcast', {'chatid': 4}) }}" class="btn btn-bluez">Подключиться к
                                онлайн трансляции</a>
                        </div>
                        {# <div class="program-dop-item"> #}
                        {# <div class="program-dop-item-time"> #}
                        {# 16:00 – 17:45 #}
                        {# </div> #}
                        {# <div class="program-dop-item-title"> #}
                        {# Сателлитный симпозиум компании Bristol-Myers Squibb #}
                        {# </div> #}
                        {# <a href="{{ path('app_broadcast', {'chatid': 1}) }}" class="btn btn-bluez">Подключиться к #}
                        {# онлайн трансляции</a> #}
                        {# </div> #}
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
