{% extends 'main/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="main-block programs-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <div class="program-header d-none d-lg-flex">
                        <div class="program-date">
                            <a href="#prog1" class="btn btn-fill active">17 сентября</a>
                            <a href="{{ path('app_main_home_programms18') }}" class="btn btn-fill">18 сентября</a>
                        </div>
                        <a href="{{ asset('uploads/programm/limforum.pdf') }}" target="_blank" class="btn btn-bluez btn-down">Открыть программу в формате PDF</a>
                    </div>
                    <div class="programs-logo">
                        <div class="programs-logo-img">
                            <img src="/assets/img/prog-logo1.jpg">
                            <img src="/assets/img/prog-logo2.jpg">
                        </div>
                        <div class="programs-logo-text">
                            12.09.12 Председатель А.Б.
                        </div>
                    </div>
                    <div class="programs-title d-none d-lg-block" id="prog1">17 сентября 2021 г.</div>
                    <div class="programs-title d-none d-lg-block">Председатель: Поддубная Ирина Владимировна, академик РАН, проф., проректор по лечебной работе и международному сотрудничеству, заведующая кафедрой онкологии и паллиативной медицины им. акад. А.И. Савицкого ФГБОУ ДПО РМАНПО Минздрава России, председатель Российского профессионального общества онкогематологов, Москва</div>
                    <div class="program-table d-none d-lg-block">
                        <div class="program-table-scroll">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Время</th>
                                        <th>Лектор</th>
                                        <th>Название</th>
                                        <th>Эксперт-патоморфолог</th>
                                        <th colspan="2">Эксперт-клиницист</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td nowrap="">09:00 - 09:10</td>
                                    <td nowrap="">Поддубная И.В.<br>Москва</td>
                                    <td colspan="4">Вступительное слово</td>
                                </tr>
                                <tr class="bg-lilac">
                                    <td colspan="6" class="text-center"><b>Сессия I. Разбор клинических случаев по вопросам лечения ЛХ</b><br>Модератор – Демина Е.А.</td>
                                </tr>
                                <tr>
                                    <td>09:10 - 10:00</td>
                                    <td>Борзенкова Е.С.<br>Санкт-Петербург</td>
                                    <td>Терапия ЛХ с развитием иммуноопосредованного колита</td>
                                    <td nowrap="">Байков В.В.<br>Санкт-Петербург</td>
                                    <td>Капланов К.Д.<br>Москва</td>
                                    <td rowspan="2">Головенко А.О.<br>Москва</td>
                                </tr>
                                <tr>
                                    <td>10:00 - 11:10</td>
                                    <td>Нестерова Е.С.<br>Москва</td>
                                    <td>Терапия ЛХ с развитием иммуноопосредованного панкреатита</td>
                                    <td>Ковригина А.М.<br>Москва</td>
                                    <td>Лепик К.В.<br>Санкт-Петербург</td>
                                </tr>
                                <tr class="bg-gray">
                                    <td>11:10 - 11:30</td>
                                    <td colspan="5"><em>Перерыв</em></td>
                                </tr>
                                <tr class="bg-lilac">
                                    <td colspan="6" class="text-center"><b>Сессия II. Разбор клинических случаев по вопросам лечения НХЛ</b><br>Модератор – Воробьев В.И.</td>
                                </tr>
                                <tr>
                                    <td>11:30 - 12:00</td>
                                    <td nowrap="">Gianluca Gaidano<br>Италия</td>
                                    <td colspan="4">Современные подходы к терапии лимфомы из клеток мантии</td>
                                </tr>
                                <tr><td>12:00 - 13:00</td>
                                    <td nowrap="">Хусаинова  Г.Р.<br>Казань</td>
                                    <td>Современные походы к терапии ФЛ</td>
                                    <td>Ковригина А.М.<br>Москва</td>
                                    <td colspan="2">Фалалеева Н.А.<br></td>
                                </tr>
                                <tr>
                                    <td>13:00 - 13:30</td>
                                    <td nowrap="">Саржевский В.О.<br>Москва</td>
                                    <td colspan="4"></td>
                                </tr>
                                <tr class="bg-gray">
                                    <td>13:45 - 15:00</td>
                                    <td colspan="2"><em>Сателлитный симпозиум компании Astra Zeneca </em></td>
                                    <td colspan="3"><em>Сателлитный симпозиум компании Нанолек</em></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('app_broadcast', {'chatid': 1}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>
                    <div class="program-dop d-none d-lg-flex">
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум компании Astra Zeneca
                            </div>
                            <a href="{{ path('app_broadcast', {'chatid': 1}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                        </div>
                        <div class="program-dop-item">
                            <div class="program-dop-item-time">
                                13:00 – 14:00
                            </div>
                            <div class="program-dop-item-title">
                                Сателлитный симпозиум компании Нанолек
                            </div>
                            <a href="{{ path('app_broadcast', {'chatid': 1}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                        </div>
                    </div>
                    <div class="program-table d-none d-lg-block">
                        <div class="program-table-scroll">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Время</th>
                                        <th>Лектор</th>
                                        <th>Название</th>
                                        <th>Эксперт-патоморфолог</th>
                                        <th colspan="2">Эксперт-клиницист</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-lilac">
                                        <td colspan="6" class="text-center"><b>Сессия III. Разбор клинических случаев по вопросах лечения ХЛЛ</b><br>Модератор – Самойлова О.С.</td>
                                    </tr>
                                    <!--tr-->
                                    <tr><td>15:00 - 16:00</td>
                                        <td>Пискунова И.С.<br>Москва</td>
                                        <td>В-ХЛЛ/МКЛ с нетипичным клиническим течением</td>
                                        <td>Ковригина А.М.<br>Москва</td>
                                        <td colspan="2">Иванова М.О.<br>Москва</td>
                                    </tr>
                                    <tr>
                                        <td>16:00 - 17:00</td>
                                        <td nowrap="">Валиахметова Ч.Х.<br>Уфа</td>
                                        <td>Клиническое  течение  и  терапия  хронического  лимфолейкоза с  неблагоприятным  прогнозом  на фоне  новой  коронавирусной  инфекции</td>
                                        <td><br></td>
                                        <td colspan="2">Бялик Т.Е.<br>Москва</td>
                                    </tr>
                                    <tr>
                                        <td>17:00 - 18:00</td>
                                        <td colspan="3">Follow up – Лимфорум, февраль 2021: «ХЛЛ и кожная токсичность и таргетная терапия? Или конкурирующая патология?»</td>
                                        <td nowrap="">Стадник Е.А.<br>Санкт-Петербург</td>
                                        <td nowrap="">Байков В.В.<br>Санкт-Петербург</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="{{ path('app_broadcast', {'chatid': 1}) }}" class="btn btn-bluez">Подключиться к онлайн трансляции</a>
                    </div>

                    <div class="program-pdf">
                        <a href="{{ path('app_broadcast', {'chatid': 1}) }}" target="_blank" class="btn btn-bluez">Поключиться к онлайн трансляции</a>
                        <a href="{{ asset('uploads/programm/limforum.pdf') }}" target="_blank" class="btn btn-bluez btn-down">Открыть программу в формате PDF</a>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    {% include 'main/news/index.html.twig' with news %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
