{% extends 'admin/base.html.twig' %}
{% use 'admin/search/searchBar.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="container">
                <span>
                    <a type="button" class="btn btn-success"
                       href="{{ path('app_admin_users_create') }}">Создать Пользователя</a>
                </span>
        {{ block('searchBar') }}
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Ф.И.О.</th>
                <th scope="col">Место работы</th>
                <th scope="col">Должность</th>
                <th scope="col">Телефон</th>
                <th scope="col">Электронная почта</th>
                <th scope="col">Страна</th>
                <th scope="col">Город</th>
                <th scope="col">Пришел</th>
            </tr>
            </thead>
            <tbody>
            {% set count = 0 %}
            {% for row in users %}
                <tr{% if row.isAttend %} class="table-success" {% endif %}>
                    {% set count = count + 1 %}
                    <td>{{ count }}</td>
                    <td>{{ row.surname }} {{ row.name }} {{ row.patronymic }}</td>
                    <td>{{ row.job }}</td>
                    <td>{{ row.position }}</td>
                    <td>{{ row.phone }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.country }}</td>
                    <td>{{ row.city }}</td>
                    <td>
                        {% if not row.isAttend %}
                            <a type="button" class="btn btn-success"
                               href="{{ path('app_admin_users_attend', {'userId': row.id}) }}">Пришел</a>
                        {% endif %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary" id="print"
                           onclick="CallPrint('{{ row.surname }}', '{{ row.name }}', '{{ row.patronymic }}')">Печать</a>
                    </td>
                    <td><a type="button" class="btn btn-secondary"
                           href="{{ path('app_admin_users_update', {'userId': row.id}) }}">Изменить</a></td>
                    <td><a type="button" class="btn btn-danger"
                           href="{{ path('app_admin_users_delete', {'userId': row.id}) }}">X</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function CallPrint(f, i, o) {
            var now = new Date();
            var day = now.getDate();
            var month = now.getMonth()+1;
            month = month > 9 ? month : '0'+month;
            var year = now.getFullYear();
            var date = day+'.'+month+'.'+year;
            var prtCSS = '<link rel="stylesheet" href="{{ asset('assets/css/print.css') }}" type="text/css" />';
            var WinPrint = window.open('','','left=50,top=50,width=800,height=640,toolbar=0,scrollbars=1,status=0');
            WinPrint.document.write("<div class='date'>");
            WinPrint.document.write(date);
            WinPrint.document.write("</div>");
            WinPrint.document.write("<div class='print'>");
            WinPrint.document.write(prtCSS);
            WinPrint.document.write("<p>"+f+"</p>");
            WinPrint.document.write("<p>"+i+"</p>");
            WinPrint.document.write("<p>"+o+"</p>");
            WinPrint.document.write("</div>");
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.onafterprint = function (event) {
                WinPrint.close();
            };
        }
    </script>
{% endblock %}
